// Colors
$black:     #000;
$lightgrey: #e9e9e9;
$white:     #FFF;
$darkgrey:  #2b2b2b;
$highlight: #2980b9;

.App {
  height: 100%;
  padding: 30px 50px;
  background-color: $white;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

html, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid $lightgrey;

  caption {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: $darkgrey;
  }

  td {
    text-align: left;
    padding: 5px 0;
  }

  tr:nth-child(odd) {
    background-color: $white;
  }

  tr:nth-child(even) {
    background-color: $lightgrey;
  }

  thead {

    th {
      font-weight: 400;
      text-transform: capitalize;
      padding: 15px 0;
      color: $white;
      background-color: $highlight;
      text-align: left;
    }
  }

}

.is--active {
  color: $white;
}

.is--asc:before {
  position: absolute;
  margin-left: -16px;
  content: "▲";
}

.is--desc:before {
  position: absolute;
  margin-left: -16px;
  content: "▼";
}

.sortable {
  cursor: pointer;
}

.thumbnail_img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.controls_container {
  background-color: $highlight;
  width: 100%; 
  display: flex;
  padding: 10px 0;
}

.btn {
  font-family: Arial;
  display: inline-block;
  color: #1c1c1c;
  font-size: 10px;
  background-color: #e9e9e9;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer
}

.btn:hover {
  background-color: #ffffff;
  text-decoration: none;
}

.toggle_btn_container {
  flex: 1;
  text-align: center;
}

.display_btn_container {
  flex: 2;
  text-align: center;
  color: white;
}